/* template_css.scss */
// template standaard less afgeleid van template css voor standaard style van dit template
// in eerste instatie door kleuren in variabele te zetten.
// BW 15-7-2016
// CSS Document for Joomla 3 styles 21-9-2015 
// 20161128 paginaweergave class blog_inline gedefinieerd 
// om items in blog als inline-block weer te kunnen geven daarbij lead-cols-2 om leading
// items in twee kolommen weer te geven. 
// tevens breedte voor items.cols-2 cols-3 en cols-4 vastgelegd (in # kolommen blogweergave) 
// 20161210 word-space klein gemaakt om te voorkomen dat spaties tussen kolom-html de lay-out verknooeien
// 20161214 blog_inline veranderd in blog, deze claas is standaard voor blog lay-out, geen speciale pagina claas blog_inline meer nodig
// voor tags moet class blog worden toegevoegd in plaats van blog_inline.
// 20170123 width 100% itemsleading div
// 20180107 enkele variabele namen met @ beginnend vervangen door $
// 20190119 navbar transparent style toegevoegd. 1.4.3
// 20190126 navbar-inner was al afgesterd nu helemaal verwijderd
// 20190212 iconssm via flexbox order -1 naar top.
// 20190303 header inner navbar padding 0.
//  iconssm geen absolute positie meer als margin-top 0 is, om overlap met menu te voorkomen. 
// 20190306 display flex voor headerleft.
// 20200513 voor template wsa-onepage scrolling-nav.css ingevoegd.
// 20200815 in rss images display inlineblock in stead of float added navbar-placeholder to hold space for absolute positioned navbar.
/ * ===========================
	alle schermbreedtes
	Write your general styles eerst voor alle schermbreedtes, 
	daarna uitzonderingen voor steeds bredere schermen (mobile first)
	========================== */

#content,
#sidebarleft,
#sidebarright,
.pos1
{
//padding-left: $asMarginStd;
//padding-right: $asMarginStd;
}

/* background images via absoluut geplaatste html */
/* content background */
#img_bg1Image 
{
  position:absolute;
  width:$bg1Width;
  height: auto;
  left:$bg1Left;
/*  margin-top:$bg1Top; ivm fout in safari */
  padding-top:$bg1Top;
/*  z-index: $bg1Z-index; */
}
#navbar-placeholder 
{width: 100%;
height: $navbar-height;
border-radius: $wrapperBorderRadius;
}
@if $twbs_version == 4 {
#headerleft {
  position: relative;
  float:left;
  width:$asHeadLeftWidth;
  // height: 0px;
  margin-top: $hlMarginTop;
  margin-left:$hlMarginLeft;
  margin-bottom: $hlMarginBottom; 	
  padding-top:0;
  padding-bottom: 0; // $hlHeight;
      div.inner {
	position: relative;
	//top: 0;
	//left: 0;
	width: 100%;
	//height: 100%;
	}
}
} // einde bs4
@else { // bs3
#headerleft {
  position: relative;
  float:left;
  width:$asHeadLeftWidth;
  height: 0px;
  margin-top: $hlMarginTop;
  margin-left:$hlMarginLeft;
  margin-bottom: $hlMarginBottom; 	
  padding-top:0;
  padding-bottom: $hlHeight;
      div.inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
}
}
#navbar-right-mod
{
	display: inline-block;
	width: $wsaNavbarRightWidth;
	max-width: 100%;
}

#wrapper, 
body>div.container {
	position: relative;
	overflow-x: hidden;
    border-radius: $wrapperBorderRadius;
}
#wrapper1
{
/* voor achtergrondafbeeldingen van #wrapper geen extra margin ed toevoegen, anders klopt lay-out niet meer */
   position: relative;
}
.section.component { /* section for each menu-item on this page */
width: 100%;
padding: 0;
border-radius: $wrapperBorderRadius;
}
.blog,
.blog-featured,
.contentpane,
.contact,
.item-page,
.tag-category,
div.newsfeed,
div[class^="newsfeed"]
{ 
/* margin-left: $asMarginStd; */
}
.bg-transparent { // 
    background-color: transparent!important;
}
.blog {
/* .blog_inline algemene definities (gestuurd door blog tabblad paginaweergave paginaclass:  niets blog is standaard)
   heeft definities op alle breedtes, naarmate het scherm breder wordt krijgen meer 
   spans hun eigenlijke breedte (99% / 12 * <spannr>) -1% en margin-right 1%.
   (spannr wordt aangestuurd door blog tabblad blogweergave 12 / # kolommen tevens komt er dan een cols-nr in de div eronder )	
   en komen meer breedtes voor items-leading beschikbaar (gestuurd door paginaweergave paginaclass: blog lead-cols-2 )
   .blog ook voor kop ul.list-striped komt overeen met div.items-row (maar cols-1 etc kan hier niet gevuld worden
   volgende nivo li.cat-list-row0 en li.cat-list-row1 komen overeen met div.span1 span2 enz
   volgende nivo ontbreekt bij taglist   komt overeen met div.item
   volgende nivo span.tag-body (en h3)   komt overeen met p	
*/
	.items-leading,
	.items-row,
	.list-striped 	{ 
		word-spacing: -0.25em;
		width: 100%
	}
		
	.items-leading > div,
	.items-row > div,
	.items-row > div > div,
	.list-striped > li	{ 
		display: inline-block;
		word-spacing: normal;
		vertical-align: top;
		float: none;
		max-width:100%;
	}

	.item, .span6, .span4, .span3, .span2, .span1,
	.cat-list-row0, .cat-list-row1  { 
		width: 100%;
		margin-right: 0px; 
	}
	
}
.header-inner
{
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
	.navbar{ padding:0;
	}
	.navbar>.container, .navbar>.container-fluid {
    align-items: flex-start;
	}
}

.icon-cog,
.icons .icon-cog
 {
    background-position: -432px 0;
}
.iconssm 
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */

position: relative;
display: block;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: $wsaIconsFlex;  
flex-direction: $wsaIconsFlex;  
width: 100%;
-ms-flex-order: -1;
order: -1;
}



.img-fluid,
.img-fluid-w33,
.img-fluid-w50
 { /* vooruitlopend op bt4 in 3 is dit img-responsive  */
 max-width: 100%;
 height: auto;
}

.items-leading  div .videoWrapper,
.videoWrapper {
  position:relative;
  padding-bottom: $wsaVideoHeight;
  padding-top: $wsaVideoHeightExtra;
  max-width: $wsaVideoItemWidth;
  width: $wsaVideoAutoItemWidth;
  height:0;
  object, embed, iframe {
    position:absolute;
    top:0;
    left:0;
    width: 100%;  // breedte video binnen blok, onnodig om aan te passen.
    height:100%;
  }
}

.list-striped, .row-striped {
    border-top: none;
}
.list-striped li, .list-striped dd, .row-striped .row, .row-striped .row-fluid {
    border-bottom: none;
    padding: 0;
}

.mod-languages {
    float: $asModLangFloat;
}
/* tijdelijk toegvoegd voor bs 3 en bs4  */
.navbar-collapse.in {
    overflow-y: visible;
	display:block;  // bs 4 voorlopig
}
.navbar-toggle .icon-bar {
    background-color: $navbar-default-toggle-icon-bar-bg;
}
/* transparent navbar */
.navbar.navbar-default.transparent,
.navbar.navbar-inverse.transparent{ 

		border-width: 0px;
		-webkit-box-shadow: 0px 0px;
		box-shadow: 0px 0px;
		background-color: rgba(0,0,0,0.0);
		background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
		background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
		background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}	

/* einde tijdelijk toegvoegd voor bs 3 */

/* aanpassingen voor newsfeeds uit oudere templates van mij */
/* rss fotos van flickr en picasa met suffix _rssfoto */
/* rss fotos van flickr en picasa met suffix _rssfoto */
/* rss flickr images (ul li p a img) */
/* rss picasa images (ul li a img) */
.newsfeed_rssfoto,
.newsfeed_rssfoto01,
.newsfeed_rsspicasa,
div[class^="newsfeed"]
{
margin: 0;
padding: 0;
width: auto;

 h2
	{
	margin: 0;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.5em;
	padding-left: 0px;
	margin-bottom: 10px;
	text-align: left;
	}

  h3
	{
	font-size: 1.3em;
	line-height: 1.3em;
	padding-left: 0px;
	margin-bottom: 0px;
	text-align: left;
	}

  ol
	{
	padding:0;

	 li
		{
		list-style-type: none;
		margin-left: 0;
		margin-right: 10px;
		margin-bottom: 10px;
		}
	}	

/* einde div[class^="newsfeed"] */}
.newsfeed_rssfoto,
.newsfeed_rssfoto01,
.newsfeed_rsspicasa
{
 ol
	{

	 li
		{
		display: inline-block;
		height: 320px; /* vaste hoogte (en breedte) voor mooier ordenen */
		width: 250px;
		overflow: hidden;
		}
	}	
/* einde newsfeed_rssfoto */ }

.newsfeed_rssfoto ol li a img,
.newsfeed_rsspicasa ol li a img
{
background-color: #6F571B;
padding:2px;
border: 3px solid black; /*ridge */
}
/* ongewenste tekst van newsfeed onzichtbaar maken j3 zodat override niet nodig is */
.newsfeed_rssfoto ol li div.feed-item-description p:first-child,
.newsfeed_rssfoto01 ol li div.feed-item-description p:first-child
{
font-size: 4%;
//opacity: 0.1;
color: transparent;
    a
	{
	font-size: 2500%;
	//opacity: 1.0;
	color: $link-color;
	}
}
.newsfeed_rssfoto01 ol li
{
background-color: #ccc;
}
.newsfeed_rssfoto01 ol li a img
{
padding:5px;
}
.newsfeed_rsspicasa ol li
{
height: 210px; /* picasa foto's zijn kleiner en vierkant */
background-color: #ccc;
}

.tag-category fieldset
{ /* tot joomla het zoekveld goed verbergt */
display: $tagItemSearchDisplay; 
}

.tag-category ul 
{ /* tag-list inline maken in plaats van opsomming */
    padding-left: 0;
	
 li 
	{
    display: inline-block;
    position: static;
    vertical-align: top;
	max-width: 100%;
	margin-right: $marginArea;
	margin-bottom: $marginArea;
	}
  &.category.list-striped li /* element rij alleen in tag-lijst, vaste breedte */
	{
	background-color: transparent;
	max-width: 100%;
    width: $asMinWidthItem;
	
	}	

 li h3 
	{
	display: $tagItemTitleDisplay;
	}	
}
	
body { 
	font-family: Verdana, Arial, sans-serif;
	padding-top: 10px;
	padding-bottom: 40px;
	overflow: auto;
}

/* aanpassingen rij in tag-lijst en tag overzicht, tag-list ongedaan maken voor pagination */
div.pagination   /* normale bootstrap class is ul.pagination */
{
margin-top: 0px;
width: 100%;
p {margin-top: 20px;}
}

div div.pagination ul /* tag-list inline maken in plaats van opsomming */
{
    padding-left: 0px;
 //   list-style-type: circle;
}

div div.pagination ul li /* element  rij in tag-lijst en tag overzicht, tag-list inline maken in plaats van opsomming */
{
    display: inline-block;
    position: static;
    vertical-align: top;
   max-width: 100%;
   margin-right: 0px; // $marginArea;
   margin-bottom: 0px; //$marginArea;
}
/* einde aanpassing alleen voor pagination */


h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed',sans-serif;
	font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 26px;
  line-height: 30px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

/* overige aanpassingen pagination tbv bootstrap 3 */
    ul.pagination-list li a [class*="icon-"] {
    }
     
    ul.pagination-list li a:hover [class*="icon-"] {
    }
/* einde overige aanpassingen pagination tbv bootstrap 3 */


[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
/* einde tijdelijk overgenomen uit bootstrap css v2 */

/* Special general */
[class*="special"] .module-content ul {
	margin: 0 0 10px 17px;
}

[class*="special"] .module-content ul.unstyled {
	margin: 0 0 10px 0;
}


/* ===========================
	einde alle schermbreedtes
	========================== */
@media (max-width: $screen-xs-max) { // max 767 


}/* einde (max-width: $screen-xs-max) */
@if $twbs_version == 4 {
@include media-breakpoint-up(sm)
{  // min 576
.blog {
	.span6, .span4,	.span3, .span2, .span1,
	&.cols-2 .cat-list-row0, &.cols-3 .cat-list-row0, &.cols-4 .cat-list-row0, &.cols-5 .cat-list-row0, &.cols-6 .cat-list-row0,
	&.cols-2 .cat-list-row1, &.cols-3 .cat-list-row1, &.cols-4 .cat-list-row1, &.cols-5 .cat-list-row1, &.cols-6 .cat-list-row1
	{ 
		width: $wsa02Col ;
		margin-right: $wsaInnerMargin;
		margin-left: auto;
	}
}
	
.blog.lead-cols-2 {
	.items-leading 	 > div { 
		width: $wsa02Col;
		margin-right: $wsaInnerMargin; 
		margin-left: auto;

	}
	
}

.img-fluid-w33
{ 
 max-width:33%;
}
	.img-fluid-w50
{ 
  max-width:50%;
}
.tag-category ul 
{
	li
	{
   	max-width: $tagListItemWidth;
   	width: auto;
	}
  &.category.list-striped li 
	{
	max-width: $tagListItemWidth;
   	width: auto;
	}	
	
}
}/* einde up(sm) */

@include media-breakpoint-up(md) { // min 768
#navbar-right-mod {
    float: right;
    margin-right: -15px;
}
.blog {

	.span4,
	&.cols-3 .cat-list-row0,
	&.cols-3 .cat-list-row1  { 
			width:  $wsa03Col;
	}
	.span3, .span2, .span1,
	&.cols-4 .cat-list-row0, &.cols-5 .cat-list-row0, &.cols-6 .cat-list-row0,
	&.cols-4 .cat-list-row1, &.cols-5 .cat-list-row1, &.cols-6 .cat-list-row1 { 
			width:  $wsa04Col;
	}
	
}
.blog.lead-cols-3 {
	.items-leading 	 > div { 
		width:  $wsa03Col;
		margin-right: $wsaInnerMargin; 
		margin-left: auto;
		
	}
	
}


	
	.form-horizontal .control-group {
		.control-label {
		text-align: left;
		//@include make-xs-column(2);
		}
		.controls {
		//@include make-xs-column(10);
		}
	}
@if $iconsPosTop > 0px
{
.iconssm.navbar-expand-md
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */
  position: absolute;
  top: $iconsPosTop;  
 }   
}	
.hiicons .navbar.navbar-expand-md
{
#img_brandImage
{ 
margin-top: -40px;
}	
}

	
}/* einde up(md) */

@include media-breakpoint-up(lg) { // min 992

.blog {
	.cols-5 .span2,
	&.cols-5 .cat-list-row0,
	&.cols-5 .cat-list-row1 { 
			width: $wsa05Col ;
		}
	
	.span2,
	&.cols-6 .cat-list-row0,
	&.cols-6 .cat-list-row1 { 
			width: $wsa06Col ;
		}
	.cols-8 .span1	{ 
			width: $wsa08Col ;
		}
	 .span1	{ 
			width: $wsa12Col ;
		}
	

	
}
@if $iconsPosTop > 0px
{
.iconssm.navbar-expand-lg
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */
  position: absolute;
  top: $iconsPosTop;  
 }   
}
.hiicons .navbar.navbar-expand-lg
{
#img_brandImage
{ 
margin-top: -40px;
}	
}

} /* einde up(lg) */

@include media-breakpoint-up(xl) { // min 1200 px

@if $iconsPosTop > 0px
{
.iconssm.navbar-expand-xl
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */
  position: absolute;
  top: $iconsPosTop;  
 }   
}
.hiicons .navbar.navbar-expand-xl
{
#img_brandImage
{ 
margin-top: -40px;
}	
}

}
/* einde up(xl) */
// @include media-breakpoint-up(xxl) { bs4 custom > xl (1200 px) bv 1440 
//}
// @include media-breakpoint-up(xxxl) { bs4 custom > xxl bv 1600
//}

} // einde bs4
@else { // bs3
@media (min-width: $screen-xs-min) 
// bs 3
{ 

.blog {
	.span6, .span4,	.span3, .span2, .span1,
	&.cols-2 .cat-list-row0, &.cols-3 .cat-list-row0, &.cols-4 .cat-list-row0, &.cols-5 .cat-list-row0, &.cols-6 .cat-list-row0,
	&.cols-2 .cat-list-row1, &.cols-3 .cat-list-row1, &.cols-4 .cat-list-row1, &.cols-5 .cat-list-row1, &.cols-6 .cat-list-row1
	{ 
		width: $wsa02Col ;
		margin-right: $wsaInnerMargin;
		margin-left: auto;
	}
}
	
.blog.lead-cols-2 {
	.items-leading 	 > div { 
		width: $wsa02Col;
		margin-right: $wsaInnerMargin; 
		margin-left: auto;

	}
	
}

.img-fluid-w33
{ 
 max-width:33%;
}
	.img-fluid-w50
{ 
  max-width:50%;
}
.tag-category ul 
{
	li
	{
   	max-width: $tagListItemWidth;
   	width: auto;
	}
  &.category.list-striped li 
	{
	max-width: $tagListItemWidth;
   	width: auto;
	}	
	
}
/* einde (min-width: $screen-xs-min) */}

// @include media-breakpoint-up(md) { bs4
@media (min-width: $screen-sm-min){
#navbar-right-mod {
    float: right;
    margin-right: -15px;
}
.blog {

	.span4,
	&.cols-3 .cat-list-row0,
	&.cols-3 .cat-list-row1  { 
			width:  $wsa03Col;
	}
	.span3, .span2, .span1,
	&.cols-4 .cat-list-row0, &.cols-5 .cat-list-row0, &.cols-6 .cat-list-row0,
	&.cols-4 .cat-list-row1, &.cols-5 .cat-list-row1, &.cols-6 .cat-list-row1 { 
			width:  $wsa04Col;
	}
	
}
.blog.lead-cols-3 {
	.items-leading 	 > div { 
		width:  $wsa03Col;
		margin-right: $wsaInnerMargin; 
		margin-left: auto;
		
	}
	
}


	
	.form-horizontal .control-group {
		.control-label {
		text-align: left;
		//@include make-xs-column(2);
		}
		.controls {
		//@include make-xs-column(10);
		}
	}
.iconssm.navbar-expand-sm
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */
  position: absolute;
  top: $iconsPosTop;    
  left: $iconsPosLeft;
  width: $iconsWidth; 
  max-width: 100%;
}
	
}/* einde (min-width: $screen-sm-min) */

// @include media-breakpoint-up(lg) { bs4
@media (min-width: $screen-md-min )  { /* desktop (width >= 992px) */

.blog {
	.cols-5 .span2,
	&.cols-5 .cat-list-row0,
	&.cols-5 .cat-list-row1 { 
			width: $wsa05Col ;
		}
	
	.span2,
	&.cols-6 .cat-list-row0,
	&.cols-6 .cat-list-row1 { 
			width: $wsa06Col ;
		}
	.cols-8 .span1	{ 
			width: $wsa08Col ;
		}
	 .span1	{ 
			width: $wsa12Col ;
		}
	

	
}
.iconssm.navbar-expand-md
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */
  position: absolute;
  top: $iconsPosTop;    
  left: $iconsPosLeft;
  width: $iconsWidth; 
  max-width: 100%;
}

}
/* einde @media  $screen-md-min */

// @include media-breakpoint-up(xl) { bs4 1200 px
@media (min-width: $screen-lg-min )  { /* desktop (width >= 1200px) */

.iconssm.navbar-expand-lg
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */
  position: absolute;
  top: $iconsPosTop;    
  left: $iconsPosLeft;
  width: $iconsWidth; 
  max-width: 100%;
}

}
/* einde @media  $screen-lg-min */
@media (min-width: $screen-xl-min )  { /* desktop (width >= 992px) */

.iconssm.navbar-expand-xl
{    /* icons social media boven logo absolute vanaf 'navbar-expand-..' */
  position: absolute;
  top: $iconsPosTop;    
  left: $iconsPosLeft;
  width: $iconsWidth; 
  max-width: 100%;
}

}
/* einde @media  $screen-xl-min */
// @include media-breakpoint-up(xxl) { bs4 custom > xl (1200 px) bv 1440 
//}
// @include media-breakpoint-up(xxxl) { bs4 custom > xxl bv 1600
//}
} // einde bs3
